.venv
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
.idea/
.vscode/
.DS_Store
*.log
*.sqlite3
*.db
*.bak
*.swp
*.swo
*.tmp
*.egg-info/
dist/
build/
*.egg
*.egg-info
*.log
*.pot
*.mo

